<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calories Burned Predictor</title>
</head>
<style>
    .center {
        text-align: center;
    }
</style>
<body>
    <h1 class="center">Calories Burned Predictor</h1>
    <fieldset>
        <form method="POST">
            <p><b>The model predicts calories burned using inputs like age, gender, weight, duration etc. .
            It helps users monitor fitness progress and plan exercise routines effectively.
            Regression techniques analyze how physical factors influence calorie expenditure.
            Please enter realistic type of data and appropriate values for better performance of model.
            </b></p>
            <h4>Model Used:  CatBoost <br>
            Test R2 Score:  0.9995455516664498 <br>
            Train R2 score:  0.9996027306369671 </h4>
            <label>Enter your height (in cm): </label>
            <input type="number" placeholder="Enter your height (in cm)" name="height" required>
            <br>
            <br>

            <label>Enter your weight (in kg): </label>
            <input type="number" placeholder="Enter your weight (in kg)" name="weight" required>
            <br>
            <br>

            <label>Enter your age: </label>
            <input type="number" placeholder="Enter your age" name="age" required>
            <br>
            <br>

            <label>Enter duration of exercise (in min): </label>
            <input type="number" placeholder="Enter duration of exercise (in min)" name="exercise_time" required>
            <br>
            <br>

            <label>Choose your gender: </label>
            <input type="radio" value="Male" name="gender" required> Male
            <input type="radio" value="Female" name="gender" required> Female
            <br>
            <br>

            <label>Enter your heart rate (in bpm): </label>
            <input type="number" placeholder="Enter your heart rate (in bpm)" name="heart_rate" required>
            <br>
            <br>

            <label>Enter your body temperatue (in °C): </label>
            <input type="number" step="0.1" placeholder="Enter your body temperatue (in °C)" name="body_temp" required>
            <br>
            <br>

            <button type="submit">Predict Calories Burned</button>

        </form>

{% if prediction %}
    {% if prediction is string and "Error" in prediction %}
        <div class="error">{{ prediction }}</div>
    {% else %}
        <br>
        <br>
        <div class="result">Calories Burned: <b>{{ prediction }} Kcal</b></div>
    {% endif %}
{% endif %}

        <br>
        <br>
        <a href="/">← Back to Home</a>
    </fieldset>
</body>
</html>