<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telecom Customer Churn Predictor</title>
</head>
<style>
    .center {
        text-align: center;
    }
</style>
<body>
    <h1 class="center">Telecom Customer Churn Predictor</h1>
    <fieldset>
        <form method="POST">
            <p><b>This classifier predicts whether a customer is likely to leave a telecom service based on usage, billing patterns, complaints, and contract type.
            It helps companies improve retention strategies using data insights.
            The model learns patterns of customers who previously churned.
            Please enter realistic type of data and appropriate values for better performance of model.
            </b></p>
            <h4>Model Used: Catboost<br>
            Accuracy Scores: <br>
            Testing:  0.7835344215755855 <br>
            Training:  0.8587149449769258 <br>
            F1 Score: <br>
            Testing:  0.5938748335552596 <br>
            Training:  0.5938748335552596</h4>
            <label>Gender: </label>
            <select name="gender" required>
                <option value="">Select Gender</option>
                <option value="Male"> Male </option>
                <option value="Female"> Female </option>
            </select>
            <br>
            <br>

            <label>Senior Citizen: </label>
            <select name="seniorcitizen" required>
                <option value="">Select</option>
                <option value="1"> Yes </option>
                <option value="0"> No </option>
            </select>
            <br>
            <br>

            <label>Having Spouse: </label>
            <select name="partner" required>
                <option value="">Select</option>
                <option value="1"> Yes </option>
                <option value="0"> No </option>
            </select>
            <br>
            <br>

            <label>Dependents: </label>
            <select name="dependents" required>
                <option value="">Select</option>
                <option value="1"> Yes </option>
                <option value="0"> No </option>
            </select>
            <br>
            <br>

            <label>Tenure of customer (in months): </label>
            <input type="number" placeholder="Enter tenure of customer (in months): " name="tenure" required/>
            <br>
            <br>

            <label>Phone Service: </label>
            <select name="phoneservice" required>
                <option value="">Select</option>
                <option value="1"> Yes </option>
                <option value="0"> No </option>
            </select>
            <br>
            <br>

            <label>Multiple Lines: </label>
            <select name="multiplelines" required>
                <option value="">Select</option>
                <option value="1"> Yes </option>
                <option value="0"> No </option>
            </select>
            <br>
            <br>

            <label>Internet Service: </label>
            <select name="internetservice" required>
                <option value="">Select service</option>
                {% for j in internet_service %}
                    <option value="{{ j }}">{{ j }}</option>
                 {% endfor %}
            </select>
            <br>
            <br>
            
            <label>Online Security: </label>
            <select name="onlinesecurity" required>
                <option value="">Select</option>
                <option value="1"> Yes </option>
                <option value="0"> No </option>
            </select>
            <br>
            <br>
            
            <label>Online Backup: </label>
            <select name="onlinebackup" required>
                <option value="">Select</option>
                <option value="1"> Yes </option>
                <option value="0"> No </option>
            </select>
            <br>
            <br>

            <label>Device Protection: </label>
            <select name="deviceprotection" required>
                <option value="">Select</option>
                <option value="1"> Yes </option>
                <option value="0"> No </option>
            </select>
            <br>
            <br>

            <label>Tech Support: </label>
            <select name="techsupport" required>
                <option value="">Select</option>
                <option value="1"> Yes </option>
                <option value="0"> No </option>
            </select>
            <br>
            <br>

            <label>Streaming TV: </label>
            <select name="streamingtv" required>
                <option value="">Select</option>
                <option value="1"> Yes </option>
                <option value="0"> No </option>
            </select>
            <br>
            <br>

            <label>Streaming Movies: </label>
            <select name="streamingmovies" required>
                <option value="">Select</option>
                <option value="1"> Yes </option>
                <option value="0"> No </option>
            </select>
            <br>
            <br>

            <label>Contract: </label>
            <select name="contract" required>
                <option value="">Select</option>
                {% for j in contract %}
                    <option value="{{ j }}">{{ j }}</option>
                {% endfor %}
            </select>
            <br><br>

            <label>PaperLess Billing: </label>
            <select name="paperlessbilling" required>
                <option value="">Select</option>
                <option value="1"> Yes </option>
                <option value="0"> No </option>
            </select>
            <br>
            <br>
            
            <label>Payment Method: </label>
            <select name="paymentmethod" required>
                <option value="">Select</option>
                {% for j in paymentmethod %}
                    <option value="{{ j }}">{{ j }}</option>
                {% endfor %}
            </select>
            <br><br>

            <label>Monthly Charges: </label>
            <input type="text" placeholder="Enter monthly charges" name="monthlycharges" step="any" required>
            <br><br>

            <label>Total Charges: </label>
            <input type="text" placeholder="Enter total charges" name="totalcharges" step="any" required>
            <br><br>

            <button type="submit">Predict</button>
        </form>

    {% if prediction is not none %}
        {% if prediction is string and "Error" in prediction %}
            <br>
            <br>
            <div class="error"><b> {{ prediction }}</b></div>

        {% elif prediction==1 %}
            <br>
            <br>
            <div class="result">Prediction: <b>Customer likely to churn</b></div>

        {% elif prediction==0 %}
            <br>
            <br>
            <div class="result">Prediction: <b>Customer will stay</b></div>

        {% endif %}
    {% endif %}

    <br><br>
    <a href="/">← Back to Home</a>
    </fieldset>
</body>
</html>