<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Performance Predictor</title>
</head>
<style>
    .center {
        text-align: center;
    }
</style>
<body>
 <h1 class="center">Student Performance Predictor</h1>
 <fieldset>
 <form method="POST">
    <p><b>Model Description: This model predicts a student’s final exam score using study hours, attendance, past performance, and lifestyle factors.
    It helps identify students who may need academic support earlier.
    The regression algorithm finds patterns between study habits and performance.
    Please enter realistic type of data and appropriate values for better performance of model.</b></p>
    <h4>Model used:  Linear Regression <br>
    MSE:  4.082628398521861 <br>
    Testing Accuracy :  0.9889832909573145 <br>
    Training Accuracy :  0.9886898790682355 </h4>
    <label>Enter your daily study hours: </label>
    <input type="number" name="study_hours" max="24" min="0" required/> 
    <br> 
    <br>

    <label>Enter your previous exam scores (max marks 100): </label>
    <input type="number" name="previous_scores" max="100" min="0" required/>
    <br> 
    <br>
    <br> 

    <label>Extracurricular Activities: </label>
    <input type="radio" name="ex_act" value="Yes" required >  Yes
    <input type="radio" name="ex_act" value="No" required /> No
    <br> 
    <br>

    <label>Enter your sleep hours: </label>
    <input type="number" name="sleep_hours" max="24" min="0" required/>
    <br> 
    <br>

    <label>Enter number of Sample Question Paper you solved: </label>
    <input type="number" name="sqp" max="10" min="0" required/>
    <br> 
    <br>
    
    <button type="submit">Calculate</button>
</form>

{% if prediction %}
    {% if prediction is string and "Error" in prediction %}
        <div class="error">{{ prediction }}</div>
    {% else %}
        <br>
        <br>
        <div class="result">Predicted Performance: <b>{{ prediction }}</b></div>
    {% endif %}
{% endif %}

<br><br>
<a href="/">← Back to Home</a>
</fieldset>
</body>
</html>