<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptoms Rules Mining</title>
</head>
<style>
    .center {
        text-align: center;
    }
</style>
<body>
    <h1 class="center">Disease & Symptoms Rule Mining</h1>
    <fieldset>
        <p><b>Model Description:-</b>This Flask web application implements a symptom-based disease recommendation system using association rule mining <b>FP Growth Algorithm</b>. 
            Users select a disease, and the app dynamically displays only the relevant symptoms for that disease. Upon selecting a symptom, the system predicts additional possible symptoms with their support, confidence, 
            and lift values. It leverages a dataset of disease-symptom associations to provide accurate and data-driven recommendations. The app ensures a smooth user experience with dependent dropdowns and error handling.
        Please enter realistic type of data and appropriate values for better performance of model</p>
        <h4>Support: How frequently an itemset appears in the dataset. <br>
            Confidence: How often rule A → B is true when A occurs. <br>
            Lift: How much more likely A and B occur together compared to being independent.</h4>
        <h4>Model used: FP-Growth</h4>
        <form method="POST">
            <label>Select Disease</label>
            <select name="disease" onchange="this.form.submit()" required>
                <option value="">Select Disease</option>
                {% for i in disease_name %}
                     <option value="{{ i }}" {% if disease == i %} selected {% endif %}>{{ i }}</option>
                {% endfor %}
            </select><br><br>

            <label>Select Symptoms: </label>
            <select name="symptoms" required>
                <option value="">Select Symptoms</option>
                {% for j in filtered2 %}
                    <option value="{{ j }}" {% if symptoms == j %} selected {% endif %}>{{ j }}</option>
                {% endfor %}
            </select><br><br>


            <button>Predict Other Symptoms</button>
        </form>

    {% if recommendations is not none %}
        {% if recommendations is string and "Error" in recommendations %}
            <div class="Error">{{ recommendations }}</div>
        {% else %}
            <div class="result">
                <h4>If pateient have disease {{ disease }} and symptoms of {{ symptoms }}</h4>
                <h4>Then patient can also have: </h4>

                <table border="1">
                    <tr>
                    <th>Related Symptoms</th>
                    <th>Support</th>
                    <th>Confidence</th>
                    <th>Lift</th>
                    </tr>

                    {% for r in recommendations %}
                        <tr>
                            <td>{{ r.consequent }}</td>
                            <td>{{ r.support }}</td>
                            <td>{{ r.confidence }}</td>
                            <td>{{ r.lift }}</td>
                        </tr>
                    {% endfor %}
                </table>
        {% endif %}
    {% endif %}
            </div>

        <br>
        <br>
        <a href="/">← Back to Home</a>
    </fieldset>
</body>
</html>